cryptography
blessings
coverage
GitPython>=0.3.2.RC1
hgapi
invoke
git+https://github.com/jaraco/path.git@10.6
pyactiveresource
psutil
RBTools==0.7.11
python-quilt
tabulate
configobj
PyHamcrest==1.10.1
choice
faulthandler
pyyaml
requests[security]
pick

# git
nose
mock

# gal
dateutils
xmltodict
functools32

# trytond
lxml>=2.0
relatorio>=0.2.0
Genshi
python-dateutil
polib
psycopg2-binary>=2.5.0
python-sql>=0.8
werkzeug
wrapt
